
@model IEnumerable<CRUDACC.Models.Oferta>

@{
    ViewData["Title"] = "Lista De Ofertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="container">

    <div class="row">
        <div class= "col-sm-6">
            <H3> Lista de Ofertas </H3>
        </div>
        <div class= col-sm-6>
            <a class= "btn btn-success d-block" asp-action="Create" asp-controller="Ofertas">Agregar nueva oferta</a>
        </div>
    </div>
    <div class="row">
        @if (Model.Count() > 0)
       {
           <table clas="table table-bordered table-striped ">
               <thead>
                    <tr>
                        <td> @Html.DisplayNameFor(m => m.Id) </td>
                        <td> @Html.DisplayNameFor(m => m.Nombre) </td>
                        <td> @Html.DisplayNameFor(m => m.Descripcion) </td>
                        <td>  @Html.DisplayNameFor(m => m.CantidadP) </td>
                        <td> Acciones </td>
                    </tr>
               </thead>
               <tbody>
                   @foreach (var item in Model)
                  {
                      <tr>
                        <td> @item.Id </td>
                        <td> @item.Nombre </td>
                        <td> @item.Descripcion </td>
                        <td> @item.CantidadP </td>
                        <td> 
                            <a asp-controller="Ofertas" asp-action="Edit" asp-route-id="@item.Id" class="bnn bnn-warning">Editar</a>
                             <a asp-controller="Ofertas" asp-action="Edit" asp-route-id="@item.Id" class="bnn bnn-warning">Eliminar</a>
                        </td>
                    </tr>
                  }
               </tbody>
           </table>
       }
       else
        {
            <p> No existe registro</p>
        }

    </div>
</div>